<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
      <div align="left">
        <b><h1><u>Team Members</u></h1></b><br/>
	  </div>

        <li><a href="/about/kim">Yangyifan Wang</a></li>
        <li><a href="/about/sushil">Sushil Plassar</a></li>
        <li><a href="/about/Kurtis">Kurtis Hoang</a></li>
        <li><a href="/about/AmarisAboutMe">Amari Bolmer</a></li>
        <li><a href="/about/Adeel">Adeel Bhatti</a></li>
        <li><a href="/about/simon">Simon Tan</a></li>
        <li><a href="/about/brian">Brian Ho</a></li>

</body>
</html>