<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kim</title>
</head>
<body>
    <div>
        Yangyifan Wang<br/>
        <img alt="image" src = "https://www.sgbt.lu/typo3temp/_processed_/csm_default-profile_01_7ef176df96.png" />
        <p>My name is Yangyifan Wang (Kim) and I'm a second year graduate student majoring in computer science.
            I got my bachelor degree in Economics from UCLA three years ago, and I then worked in an investment bank for
            two years before I decided to switch my career path. I really like computer science and want to be an excellent
            software engineer. I also enjoy movies and shopping.
        </p>
    </div>
</body>
</html>