<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adeel</title>
</head>
<body>
    <div>
        Adeel Bhatti<br/>
        <img alt="image" src = "https://www.sgbt.lu/typo3temp/_processed_/csm_default-profile_01_7ef176df96.png" />
        <p>Hello, my name is Adeel Bhatti and I'm finishing my CS Degree in the fall at SFSU. I'm originally from southern California and moved here in January 2017 to attend school here and explore the bay area for its CS opportunities and recreation. I'm primarily into mobile development using javascript/react native but am getting into other development as well. I currently work at the IT department on campus when I'm not in class. Outside of school/work I enjoy music, sports, and podcasts.
        </p>
    </div>
</body>
</html>

