<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amari B</title>
</head>
<body>
<div>
    Amari Bolmer<br/>
    <img alt="image" src="https://scontent-sjc3-1.xx.fbcdn.net/v/t1.0-9/21558818_10155352044761321_6800066103166850722_n.jpg?_nc_cat=103&_nc_ht=scontent-sjc3-1.xx&oh=0f20f9ddddb373a34e468aa32b2b6433&oe=5CE8EA62"/>
    <p> Hello World! The name's Amari Bolmer, and I am currently a senior at San Francisco State University. I am the
        first person of my family to go to a four year University and I am a computer science major. I transferred here
        to San Francisco State University in Spring 2018, and had a rough start. My sister, uncle, great grandmother,
        and uncle
        all passed away within a two month time and I fell into a hole. But what I've learned from that, is to not take
        for granted
        my time here on this earth. And I inspire to do great things one day, for the sake of my family. Computer
        Science is
        my passion, and I look forward to being in this field where I may also be able to inspire others.

        I also like Movies, Video Games, Skateboarding and Power-lifting (a.k.a the Gym).
    </p>
</div>
</body>
</html>
