<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer request</title>
</head>
<body>
    {% for item in data %}
        <li>
        <div>
          <div >
            Requested listing: <a href='/all_listings/{{ item.house_id}}'> {{item.house_name}} </a>
            <p>Landlord: {{item.landlord_username}}</p>
            <p>Request date: {{item.create_date}}</p>
            <p>Request status: {{item.status}}</p>
          </div>
        </div>
      </li>
    {% endfor %}
</body>
</html>