<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Messages</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <!-- Custom styles for this template-->
    <link href="../static/index.css" rel="stylesheet">

</head>

<body>
    <p class="text-center" >SFSU Software Engineering Project CSC 648-848, Spring 2019. For Demonstration Only</p>

<!-- Nav -->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">LiveGator</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            {% if role==2 %}
                <li class="nav-item">
                    <a class="nav-link" href="/approve_new_listing">
                        <span>New listings to be approved</span></a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/landlord_dashboard/add_a_new_listing">
                        <span>Post</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/customer_dashboard">
                        <span>My Profile</span></a>

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">
                        <span>About Us</span></a>
                </li>
            {% endif %}
            <div class="mx-auto">
                <form class="form-inline my-2 my-lg-0 " method="GET" action = "/search" >
                    <select name="sort" class="form-control mr-sm-2">
                        <option value=0 {% if sort=='0' %} selected {% endif %}>Newly added first</option>
                        <option value=1 {% if sort=='1' %} selected {% endif %}>Price low to high</option>
                        <option value=5 {% if sort=='5' %} selected {% endif %}>Distance low to high </option>

                    </select>

                    <select name="type" class="form-control mr-sm-2">
                        <option value="">All Categories</option>
                        <option value="Condo" {% if type=='Condo' %} selected {% endif %}>Condos</option>
                        <option value="House" {% if type=='House' %} selected {% endif %}>Houses</option>
                        <option value="Apartment" {% if type=='Apartment' %} selected {% endif %}>Apartments</option>
                        <option value="Townhome" {% if type=='Townhome' %} selected {% endif %}>Townhomes</option>
                        <option value="Single room" {% if type=='Single room' %} selected {% endif %}>Single rooms</option>
                    </select>
                    <input class="form-control mr-sm-2" type="text" size="35" placeholder="Search by listing name, listing type, description, or address" name="search_key" value = "{{ key }}">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            </li>
        </ul>

        <!-- Log in and signup -->

        <ul class="navbar-nav ml-auto">
            {% if current_user.user_id %}
                <li class="nav-item disabled">
                    <a class="nav-link disabled">Hi {{ username }}!</a>
                </li>

                <form method="POST" action="/logout">
                    <button class = "btn btn-outline-light my-2 my-sm-0">Logout</button>
                </form>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/signup">
                        <i class="far fa-user"></i>

                        <span>Sign Up</span> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">
                        <i class="fas fa-sign-in-alt"></i>
                        <span >Login</span> </a>
                </li>
            {% endif %}

        </ul>
    </div>
</nav>

    <!-- Body -->
    <div class="card shadow align-items-center">
        <div class="py-3">
          <h4 class="font-weight-bold text-primary text-center">Sent Messages</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered fixed_header" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>To</th>
                  <th>Date</th>
                  <th>Listing</th>
                  <th>Message</th>
                </tr>
              </thead>
              <tbody>
                {% for item in data %}
                <tr>
                  <td>{{ item.landlord_username }}</td>
                  <td>{{ item.date }}</td>
                  <td><a href='/all_listings/{{ item.house_id}}}'> {{item.listing_name}}</a></td>
                  <td>{{ item.message }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
    </div>
</body>
</html>