<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <b><h3><u>Conversation with {{data[0].renter_username}}</u></h3></b>
    {% for item in data %}
        <div>
          <div >
              {{item.date}} {{item.sender}}:
              <p>    {{item.message}}</p>
          </div>
        </div>
    {% endfor %}

    <form method="POST" action="/customer_dashboard/view_msg/{{data[0].renter_username}}/send_msg">
        <div>
            <input type="text" placeholder="Reply" name="message">
            <button>Reply</button>
        </div>
    </form>
</body>
</html>