<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Home</title>
</head>
<body>
	<ul class="nav">
	  <div class = "logo" align="center">
		  <b><h3><u>SFSU: CSC648 - Software Engineering, Spring 2019</u></h3></b>
		  <h1>Members - Team 13</h1>
	  </div>
	  <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/signup">Signup</a></li>
      <li><a href="/renter_dashboard">Renter dashboard</a></li>
      <li><a href="/customer_dashboard">Customer dashboard</a></li>
	</ul>
</body>
</html>