<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kurtis</title>
</head>
<body>
    <div>
        Kurtis Hoang<br/>
        <img alt="image" src = "https://www.sgbt.lu/typo3temp/_processed_/csm_default-profile_01_7ef176df96.png" width="100px" height="100px"/>
        <!--<img alt="image" src = "https://pbs.twimg.com/profile_images/630074404987207680/BOTQgJCj_400x400.jpg" />-->
        <p>Hello, My name is Kurtis Hoang. I am majoring in Computer Science at San Francisco State University.
            The Computer Science classes I’ve taken at SFSU:
        </p>
        <ul>
            <li>csc 230: Discrete Math Structures CSC</li>
            <li>csc 256: Machine Structures</li>
            <li>csc 300GW: Ethnics Comm SW Dev</li>
            <li>csc 340: Programming Methodology</li>
            <li>csc 412: Advanced Software Lab</li>
            <li>csc 413: Software Development</li>
            <li>csc 510: Analysis of Algorithms I</li>
            <li>csc 690: Inter Multimedia Apple Dev</li>
        </ul>
        <p>Computer Science classes I am currently taking (Spring 2019):</p>
        <ul>
            <li>csc 415: Operating System and Principles</li>
            <li>csc 600: Programming Languages</li>
            <li>csc 648: Software Engineering</li>
            <li>csc 667: Internet App Design & Dev</li>
            <li>csc 699: Independent Study (iOS Development)</li>
        </ul>
    </div>
</body>
</html>
