<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Post Listing</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <!-- Custom styles for this template-->
    <link href="../static/index.css" rel="stylesheet">

</head>

<body id="page-top">
<p class="text-center" >SFSU Software Engineering Project CSC 648-848, Spring 2019. For Demonstration Only</p>

<!-- Nav -->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">LiveGator</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            {% if role==2 %}
                <li class="nav-item">
                    <a class="nav-link" href="/approve_new_listing">
                        <span>New listings to be approved</span></a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/landlord_dashboard/add_a_new_listing">
                        <span>Post</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/customer_dashboard">
                        <span>My Profile</span></a>

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">
                        <span>About Us</span></a>
                </li>
            {% endif %}
            <div class="mx-auto">
                <form class="form-inline my-2 my-lg-0 " method="GET" action = "/search" >
                    <select name="sort" class="form-control mr-sm-2">
                        <option value=0 {% if sort=='0' %} selected {% endif %}>Newly added first</option>
                        <option value=1 {% if sort=='1' %} selected {% endif %}>Price low to high</option>
                        <option value=5 {% if sort=='5' %} selected {% endif %}>Distance low to high </option>

                    </select>

                    <select name="type" class="form-control mr-sm-2">
                        <option value="">All Categories</option>
                        <option value="Condo" {% if type=='Condo' %} selected {% endif %}>Condos</option>
                        <option value="House" {% if type=='House' %} selected {% endif %}>Houses</option>
                        <option value="Apartment" {% if type=='Apartment' %} selected {% endif %}>Apartments</option>
                        <option value="Townhome" {% if type=='Townhome' %} selected {% endif %}>Townhomes</option>
                        <option value="Single room" {% if type=='Single room' %} selected {% endif %}>Single rooms</option>
                    </select>
                    <input class="form-control mr-sm-2" type="text" size="35" placeholder="Search by listing name, listing type, description, or address" name="search_key" value = "{{ key }}">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            </li>
        </ul>

        <!-- Log in and signup -->

        <ul class="navbar-nav ml-auto">
            {% if current_user.user_id %}
                <li class="nav-item disabled">
                    <a class="nav-link disabled">Hi {{ username }}!</a>
                </li>

                <form method="POST" action="/logout">
                    <button class = "btn btn-outline-light my-2 my-sm-0">Logout</button>
                </form>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/signup">
                        <i class="far fa-user"></i>

                        <span>Sign Up</span> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">
                        <i class="fas fa-sign-in-alt"></i>
                        <span >Login</span> </a>
                </li>
            {% endif %}

        </ul>
    </div>
</nav>

        <!-- Begin Page Content -->
        <div class="container-fluid" style="height: 100%; width: 100%">
			<div class="row">
				<div class="col-sm-4"></div>
				<div class="col-sm-4" style="padding-left: 20px">

					<form method="POST" action="/landlord_dashboard/add_a_new_listing" enctype="multipart/form-data"class="needs-validation" novalidate>

                        <!--Listing Info -->
                        <h3>Post</h3>
						<div class="form-group">
							<label class="control-label">Listing Name:*</label>
							<input type="text" class="form-control" placeholder="Listing Name" name="house_name" maxlength="40" required>
							<div class="invalid-feedback">*Required</div>
						</div>
						<div class="form-group">
							<label class="control-label">Listing Type:*</label>
                            <br>
                            <select class="selectpicker form-control" name="type" required>
                              <option value="">-</option>
                              <option value="Condo">Condo</option>
                              <option value="House">House</option>
                              <option value="Apartment">Apartment</option>
                              <option value="Townhomes">Townhouse</option>
                              <option value="Single room">Single room</option>
                            </select>
							<div class="invalid-feedback">*Required</div>
						</div>
						<div class="form-group">
							<label class="control-label">Price:*</label>
							<input type="text" class="form-control" placeholder="Price" name="price" maxlength="40" required>
							<div class="invalid-feedback">*Required</div>
						</div>
                        <div class="form-group">
							<label class="control-label">Size:*</label>
							<input type="text" class="form-control" placeholder="Appox. Sq. Footage" name="size" maxlength="40" required>
							<div class="invalid-feedback">*Required</div>
						</div>
                        <div class="form-group">
                            <label class="control-label">Description*</label>
                            <input type="text" class="form-control" placeholder="Description" name="description" required>
                            <div class="invalid-feedback">*Required</div>
                        </div>

                        <hr>
                        <!-- Location -->
                        <h3>Location</h3>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="address">No.*</label>
                                    <input type="text" class="form-control" placeholder="#" name="number" required>
                                    <div class="invalid-feedback">*Required</div>
                                </div>
                                <div class="col-sm-9">
                                    <label for="address">Street Name:*</label>
                                    <input type="text" class="form-control" name="street" id="address" placeholder="Main St" required>
                                    <div class="invalid-feedback">*Required</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address2">Address 2:</label>
                            <input type="text" class="form-control" name="address2" id="address2" placeholder="Apartment, studio, or floor">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputCity">City:*</label>
                                <input type="text" class="form-control" name="city" id="inputCity" required>
                                <div class="invalid-feedback">*Required</div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="state">State:*</label>
                                <input type="text" class="form-control" placeholder="State" name="state" required>
                                <div class="invalid-feedback">*Required</div>
                            </div>
                            <div class="form-group col-md-2">
                                  <label for="zipcode">Zip:*</label>
                                  <input type="text" class="form-control" name="zipcode" id="zipcode" minlength="5" maxlength="5" required>
                                  <div class="invalid-feedback">*Required</div>
                            </div>
                        </div>

                        <hr>
                        <!-- Amenities -->
                        <h3>Amenities</h3>
                        <div class="form-group">
                            <label for="bedroom_count">Bedroom Count:*</label><br>
                            <input class="form-control" type="number" min="0" name="bedroom_count" placeholder="-" required>
                            <div class="invalid-feedback">*Required</div>
                        </div>

                        <div class="form-group">
                            <label for="bathroom_count">Bath Count:*</label><br>
                            <input class="form-control" type="number" min="0" name="bathroom_count" placeholder="-" required>
                            <div class="invalid-feedback">*Required</div>
                        </div>

                        <div class="form-group">
                            <label for="parking_count">Parking Space Count:*</label><br>
                            <input class="form-control" type="number" min="0" name="parking_count" placeholder="-" required>
                            <div class="invalid-feedback">*Required</div>
                        </div>

                        <div class="form-group">
                            <label for="photos">Upload Image (jpg, jpeg, png format only):</label><br>
                            <input type="file" name="photos" multiple="" accept=".jpg,.jpeg,.png">
                            <div class="invalid-feedback">*Required</div>
                        </div>
                        <button class="block" type="submit">Submit</button>
                        Note: Postings are subject to review. May take up to 24 hours for approval.
					</form>
				</div>
				<div class="col-sm-4"></div>
			</div>
        </div>
          <!--end of contatiner-->
      </div>
       <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; LiveGator 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

<script type="text/javascript">
    var form = document.querySelector('.needs-validation');
    form.addEventListener('submit', function(event){
        if(form.checkValidity() == false){
            event.preventDefault();
            event.stopPropagation();
        }
        form.classList.add('was-validated');
    })
</script>

</body>

</html>