<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Renter Dashboard</title>
</head>
<body>
	<ul class="nav">
	  <div class = "logo" align="center">
		  <b><h3><u>Renter Dashboard</u></h3></b>
	  </div>
	  <li><a href="/">Home</a></li>
      <li><a href="/renter_dashboard/add_a_new_listing">Add a new listing</a></li>
      <li><a href="/renter_dashboard/view_listings">View all listings</a></li>
      <li><a href="/renter_dashboard/view_pending_request">View all pending requests</a></li>
      <li><a href="/renter_dashboard/view_orders">View all orders</a></li>
      <li><a href="/renter_dashboard/view_msg">View all messages</a></li>

	</ul>
</body>
</html>