<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-
        scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
              integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
              crossorigin="anonymous">
        <link rel="stylesheet" href="/static/index.css">
    </head>
    <body>
        <div class = "logo" align="center">
		  <b><h3><u>SFSU: CSC648 - Software Engineering, Spring 2019</u></h3></b>
		  <h1>Members - Team 13</h1>
	    </div>
{#                       <div class="dropdown show">#}
{#  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#    All Categories#}
{#  </a>#}
{#</div>#}
        {% if current_user.user_id %}
          Hi {{ username }}!
            <form method="POST" action="/logout">
            <button>logout</button>
            </form>
        {% endif %}
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Signup</a></li>
        <li><a href="/renter_dashboard">Renter dashboard</a></li>
        <li><a href="/customer_dashboard">Customer dashboard</a></li>
        <li><a href="/search">Search</a></li>
        <form class="example" method="GET" action="/search" style="margin:auto;max-width:600px">
            <select name="sort">
              <option value=0>Sort by</option>
              <option value=0>Newly added first</option>
              <option value=1>Price low to high</option>
              <option value=2>Price high to low</option>
              <option value=3>Size low to high</option>
              <option value=4>Size high to low</option>
              <option value=5>Distance low to high </option>
              <option value=6>Distance high to low</option>
            </select>

            <select name="type">
              <option value="all">Select listing types</option>
              <option value="condo">Condos</option>
              <option value="house">Houses</option>
              <option value="apt">Apartments</option>
              <option value="town">Townhomes</option>
              <option value="room">Single rooms</option>
            </select>

            <input type="text" placeholder="Min Price" name="price_low">
            <input type="text" placeholder="Max Price" name="price_high">
            <input type="text" placeholder="Min Size" name="size_low">
            <input type="text" placeholder="Max Size" name="size_high">
            <input type="text" placeholder="Min Distance" name="distance_low">
            <input type="text" placeholder="Max Distance" name="distance_high">
            <input type="text" placeholder="Search by listing name, listing type, description, or address" name="search_key">
            <button type="submit"><i class="fa fa-search"></i>
            </button>
        </form>
        <p></p>
        <center>
        {% for item in data %}
            <li>
            <div class="row">
              <div ></div>
              <div >
                <a href='/all_listings/{{ item.house_id}}'>
                  <img class="img-responsive" src="{{ item.image_url }}" height="10%"  ></img>
                  <h4 id='title'> {{item.house_name}}</h4>
                </a>
              </div>
{#              <div class="col-lg-2 col-md-2 col-sm-2"></div>#}
              <div >
                <p>price: {{item.price}}</p>
                <p>type: {{item.type}}</p>
                <p>size: {{item.size}}</p>
                <p>features: {{item.bedroom_count}} bedroom(s), {{item.bathroom_count}} bathroom(s), {{item.parking_count}} parking spot(s)</p>
                <p>address: {{item.number}}  {{item.street}}  {{item.city}} {{item.state}} {{item.zipcode}}</p>
                <p>Description: {{item.description}}</p>
              </div>
              <div ></div>
            </div>
          </li>
        {% endfor %}
        </center>
        <!-- js stuff -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </body>
</html>