<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>instagram.com/emotionalsquatter</title>
</head>
<body>
    <div>
        Brian Ho<br/>
        <img alt="image" src = "https://www.sgbt.lu/typo3temp/_processed_/csm_default-profile_01_7ef176df96.png" />
        <p>
            Hi I'm Brian Ho. I think coding is pretty fun and CSC 648 is going to be a great class. I like to eat food from different cultures
            and will occasionally risk my health when I go travelling to get the most authentic experience. In my free time, I play basketball
            when my knees don't hurt. I have a 6 in vertical leap and play shooting guard. I look forward to working with my team and building
            a good website!
        </p>
    </div>
</body>
</html>
